<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>CloudArena</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
</head>

<body class="loginPage">

  <h2 class="text-center">Sign up</h2>

  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="row">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "loginRegistrationForm") do |f| %>
    <%= devise_error_messages! %>
    <div class="col-xs-12 col-sm-4 i">
      <div class="input">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control input-field" %>
    </div>
    </div>

    <div class="col-xs-12 col-sm-4 i">
      <div class="input">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control input-field" %>
    </div>
    </div>

    <div class="col-xs-12 col-sm-4 i">
      <div class="input">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-field" %>
    </div>
  </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-lg btn-yellow btn-effect" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
</div>
</div>
</body>
