
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>CloudArena</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->



	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
				<div class="row">
				  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form loginRegistrationForm") do |f| %>
							<div class="col-xs-12 col-sm-4 i">
								<div class="input">
									<%= f.email_field :email, autofocus: true, class: "form-control input-field", :value => "email" %>
								</div>
						  </div>

							<div class="col-xs-12 col-sm-4 i">
								<div class="input">
						      <%= f.password_field :password, autocomplete: "off", class: "form-control input-field", :value => "password" %>
						    </div>
							</div>
						<div class="col-xs-12 col-sm-4 i">
							<div class="input">
				      <%= f.submit "Log in", class: "btn btn-lg btn-yellow btn-effect" %>
						</div>
					</div>
				</div>
		</div>
	</div>

	<%= render "devise/shared/links" %>

	  <% end %>
